<div class="container mt-4">
  <div class="row">
    <h1>LISTADO DE ALUMNOS</h1>
    <button class="btn btn-secondary" (click)="Ocultar()">OCULTAR</button>
  </div>
  <table class="table" ng>
    <thead>
      <th>Nrº</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let alumnos of listAlumnos; let index = index"
        [ngSwitch]="alumnos.Estado"
      >
        <th>{{ index }}</th>
        <th>{{ alumnos.Nombre }}</th>
        <th>
          <span *ngSwitchCase="'Activo'" class="badge bg-success">
            {{ alumnos.Estado }}
          </span>
          <span *ngSwitchCase="'Stanby'" class="badge bg-warning">
            {{ alumnos.Estado }}
          </span>
          <span *ngSwitchCase="'Retirado'" class="badge bg-secondary">
            {{ alumnos.Estado }}
          </span>
          <span *ngSwitchCase="'Inactivo'" class="badge bg-danger">
            {{ alumnos.Estado }}
          </span>
        </th>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="listAlumnos.length === 0">NO EXISTEN REGISTROS</h2>
</div>
